*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$breakpoint: 1023px;

@import "base/theme";
@import "base/layout";
@import "base/grid";
@import "base/card";
@import "base/form";
@import "base/informer";
@import "base/icon-plus";
@import "base/section";
@import "base/list";
@import "base/text";
@import "base/avatar";
@import "base/brand-logo";
@import "base/placeholder";
@import "base/button";
@import "base/input";
@import "base/image";
@import "base/e-accordion";
@import "content/payment";
@import "content/warning";
@import "content/product";
@import "content/history";
@import "content/header";
@import "content/onoffswitch";
@import "content/footer";
@import "content/cover";
@import "content/event";
