.onoffswitch {
	width: 97px;
	height: 32px;
	padding: 2px;

	border: 2px solid var(--bg-color-bordered);

	&__button {
		float: right;
		
		width: 24px;
		height: 24px;

		background-color: var(--bg-color-bordered);
	}
}
